h1{
    color: red;
    text-align:center ;
    font-family: Georgia, serif;
}
img {
    height: 300px;
    width: 400px;
    margin:auto ;
    display: block;
}
h3{
    color: red;
    text-align: center;
    font-family: Georgia, serif;
}

h2{
    text-align: center;
    font-family: Georgia, serif;
}

p{
    text-align: center;
    font-family: Georgia, serif;
}
